<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.LogisticsMessageDao">     
<resultMap id="BaseResultMap" type="logisticsMessageDao" > 
    <id column="Id" property="id" jdbcType="BIGINT" />  
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="VARCHAR" /> 
    
    
    
    
    
  </resultMap>  
 
   <sql id="search_condition" > 
	   	<if test="num!=null and num!='' ">   
	   	    and num like "%"#{num}"%"
	    </if> 
	</sql>
	
	
	<sql id="limit_condition" >

	   	<if test="offset!=null and offset!='' and size!=null and size!='' ">   
	   	  limit #{offset},#{size}
	    </if>   
	    
	     <if test="(offset ==null or offset=='') and size!=null and size!='' ">   
	   	  limit #{size}
	    </if> 

	</sql> 
	
  <insert id="insertCars" parameterType="cars">
		insert into mdcars  
		(Id,uid,num) values
		(null,#{uid},#{num})
    </insert>  
            
    <select id="getCarList" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from mdcars
   
	<include refid="search_condition"></include>
	order by mdcars.id desc   
	<include refid="limit_condition"></include>
	</select> 
       
     <select  id = "getCarsCount" parameterType="java.util.Map" resultType="int">
		select count(*) from mdcars   
		<where> 
			 <include refid="search_condition" /> 
		</where> 
	</select> 
	
     <select id="getCarsById" resultMap="BaseResultMap" parameterType="long">
		select * from mdcars 
	     and mdcars.id = #{id,jdbcType=BIGINT}
	</select> 

  <update id="updateCarsByPrimaryKey" parameterType="cars" >
    update mdcars 
    <set >
      <if test="uid != null" >
       uid = #{uid,jdbcType=INT}, 
      </if>
       <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
       
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
    <delete id="deleteCarsById" parameterType="java.lang.Long">
		delete from mdcars  where id = #{id}
    </delete>
       
</mapper>