<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lives.dao.ActivityInfoDao">

	<select id="selectActivityInfoById" resultType="activityInfo"
		parameterType="java.lang.Long">
		select * from activityinfo where id = #{id}
    </select>

	<delete id="deleteActivityInfoById" parameterType="java.lang.Long">
		delete from
		activityinfo where id = #{id}
    </delete>

	<insert id="insertActivityInfo" parameterType="com.lives.model.ActivityInfo" useGeneratedKeys="true" keyProperty="id">
		insert into activityinfo
		(name,personNum,contact,tel,content,userId,pic,smallVillageId) values
		(#{name},#{personNum},#{contact},#{tel},#{content},#{userId},#{pic},#{smallVillageId})
    </insert>
    
    <update id="updateRateAndCommCountOfActivityInfo" parameterType="java.util.Map">
		update activityinfo set rate=#{rate},assessmentnum=#{assessmentnum} where id=#{id}	
	</update>

	<update id="updateActivityInfoById" parameterType="com.lives.model.ActivityInfo">
		update activityinfo
		<set>
			<include refid="updateActivityInfo"></include>
		</set>
		where id = #{id}
    </update>
    <sql id="updateActivityInfo">
    <if test="name!=null and name!=''">
    	name=#{name},
    </if>
     <if test="personNum!=null and personNum!=''">
    	personNum=#{personNum},
    </if>
     <if test="contact!=null and contact!=''">
    	contact=#{contact},
    </if>
     <if test="tel!=null and tel!=''">
    	tel=#{tel},
    </if>
     <if test="content!=null and content!=''">
    	content=#{content},
    </if>
     <if test="userId!=null and userId!=''">
    	userId=#{userId},
    </if>
    <if test="checkState!=null and checkState!=''">
    	checkState=#{checkState},
    </if>
    <if test="pic!=null and pic!=''">
    	pic=#{pic},
    </if>
    <if test="smallVillageId!=null and smallVillageId!=''">
    	smallVillageId=#{smallVillageId},
    </if>
    <if test="browseNum!=null and browseNum!=''">
    	browseNum=#{browseNum}
    </if>
    </sql>
    
	<select id="getAllActivityInfoCount" parameterType="java.util.Map" resultType="int">
		select count(*) from activityinfo where 1=1
		<if test="groupId!=null and groupId!=0">
			and smallVillageId=#{groupId}
		</if>
	</select>
	
	<select id="getAllActivityInfoList" parameterType="java.util.Map" resultType="activityInfo">
		select * from activityinfo where 1=1
		<if test="groupId!=null and groupId!=0">
			and smallVillageId=#{groupId}
		</if>
		order by id desc limit #{offset},#{size}
	</select>
	
	<select id="getActivityInfoCountByCol" parameterType="java.util.Map" resultType="int">
		select count(*) from activityinfo where 1=1
		<if test="contact != null and contact != ''">
			and contact like "%"#{contact}"%"
		</if>
		<if test="tel != null and tel != ''">
			and tel like "%"#{tel}"%"
		</if>
		<if test="name != null and name != ''">
			and name like "%"#{name}"%"
		</if>
		<if test="startDate != null and startDate != ''">
			<![CDATA[and DATE(publishDate) >= #{startDate}]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[and DATE(publishDate) <= #{endDate}]]>
		</if>
	</select>
	
	<select id="getActivityInfoListByCol" parameterType="java.util.Map" resultType="activityInfo">
		select * from activityinfo where 1=1
		<if test="contact != null and contact != ''">
			and contact like "%"#{contact}"%"
		</if>
		<if test="tel != null and tel != ''">
			and tel like "%"#{tel}"%"
		</if>
		<if test="name != null and name != ''">
			and name like "%"#{name}"%"
		</if>
		<if test="startDate != null and startDate != ''">
			<![CDATA[and DATE(publishDate) >= #{startDate}]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[and DATE(publishDate) <= #{endDate}]]>
		</if>
		order by id desc 
		limit #{offset},#{size}
	</select>
	<select id="getActivityInfoByArea" parameterType="java.util.Map" resultType="activityInfo">
		select a.*, g.groupName as smallVillageName from activityinfo a inner join groupinfo g on g.id=a.smallVillageId
		where g.groupName=#{area} and checkState=1  order by a.publishDate desc limit #{offset},#{size}
	</select>
	<select id="getActivityInfoCountByArea" parameterType="java.util.Map" resultType="int">
		select count(*) from activityinfo a inner join groupinfo g on g.id=a.smallVillageId
		where g.groupName=#{area} and checkState=1
	</select>
	<select id="getActivityLimitThree" parameterType="java.util.Map" resultType="activityInfo">
		select * from activityinfo 
		<where>
			<if test="id!=null and id!=0">
				id!=#{id}
			</if>
			<if test="groupId!=null and groupId!=0">
				and smallVillageId=#{groupId}
			</if>
			and and checkState=1
		</where>
		 order by publishDate desc
		 limit #{offset},#{size} 
	</select>
	
	<select id="getAllActivityInfoListByTimeAndArea" parameterType="java.util.Map" resultType="activityInfo">
	select a.* from activityinfo a 
	<if test="area!=null and area!=''">
			inner join groupinfo g on g.id=a.smallVillageId
	</if>
	<where>
		<if test="area!=null and area!=''">
			g.groupName=#{area}
		</if>
		<if test="week!=null and week!=''">
			<![CDATA[and DATE(a.publishDate)>=#{week}]]>
		</if>
		<if test="afterweek!=null and afterweek!=''">
			<![CDATA[and DATE(a.publishDate)<=#{afterweek}]]>
		</if>
		and a.checkState=1
	</where>
	order by a.publishDate desc
		 limit #{offset},#{size} 
	</select>
	<select id="getCountActivityInfoListByTimeAndArea" parameterType="java.util.Map" resultType="int">
	select count(*) from activityinfo a 
	<if test="area!=null and area!=''">
			inner join groupinfo g on g.id=a.smallVillageId
	</if>
	<where>
		<if test="area!=null and area!=''">
			g.groupName=#{area}
		</if>
		<if test="week!=null and week!=''">
			<![CDATA[and DATE(a.publishDate)>=#{week}]]>
		</if>
		<if test="afterweek!=null and afterweek!=''">
			<![CDATA[and DATE(a.publishDate)<=#{afterweek}]]>
		</if>
		and a.checkState=1
	</where>
	</select>

</mapper>